name: Yaml-Test

# Triggers
on:
  push:
    branches: [ main ]
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  builds:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        dotnet-version: [ '8.0', '9.0' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install NET.9
      - uses: actions/setup-dotnet@v5.0.x
        with:
          version: ${{matrix.dotnet-version }}

      - name: Build project
        run: dotnet build

          
